

/*headers*/
.quick-welcome {
  display: grid;
}
h3 {
  text-align: center;
}
.first-h3 {
  font-size: 1.1rem;
}
.second-h3 {
  font-size: 1rem;    
}

/*
/*form*
form {
  display: grid;
  margin: 40px 10% 5px;
}
.rsvp-form div {
  padding: 10px 0 10px;
}

/*acceptance*
.acceptance {
  display: flex;
}
.acceptance div {
  padding: 0 10px 0;
}

/*meal preference*
.meal-type {
  display: grid;
}
.meal-type div {
  margin-left: 20px;
}
input {
  border: none;
  border-radius: 5px;
}
input[type="radio"] {
  border: none;
  border-radius: 50%;
}

/*open ended questions*
textarea {
  border: none;
  border-radius: 5px;
}

/*submit button*
div.submit {
  display: flex;
}
button[type="submit"] {
  font-family: "Ysabeau", sans-serif;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: #d2691e;
  justify-content: center;
}
*/


.rsvp-photos {
  display: none;
}
.rsvp-form {
  display: flex;
  justify-content: center;
}

@media (min-width: 800px) {
.rsvp-split {
  display: flex;
}
.rsvp-photos {
  width: 50%;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}
.rsvp-photos img {
  width: 80%;
}
.rsvp-form {
  width: 50%;
  display: flex;
  justify-content: left;
}
}